body {
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 300px;
    height: 300px;
}

.message h1 {
    font-size: 24px;
    margin: 0;
    color: #000000;
}

.message p {
    font-size: 18px;
    color: #555;
}

.rating p {
    font-size: 16px;
    color: #888;
    margin-bottom: 10px;
}

.stars {
    margin-bottom: 20px;
}

.star {
    font-size: 30px;
    color: #FFD700;
    cursor: pointer;
}

.feedback input {
    width: 220px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 240px;
}

button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

button.submit {
    width: 65%;
    background-image: linear-gradient(to right, #84e485, #31f041);
    background-color: #4CAF50;
    color: white;
    
}

button.skip {
    width: 25%;
    background-color: #fffcfc;
    color: #4CAF50;
    
}
