table {
    width: 40%;
    margin: 0 auto; 
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th:first-child,
td:first-child {
    width: 20%; 
    background-color: #007bff; 
    color: #fff;
}

tr:first-child {
    background-color: #007bff;
    color: #fff;
}


tr:not(:first-child) td:not(:first-child) {
    background-color: #b4b4ff;
    color: #000000;
}

