
 .table-container {
    width: 40%;
    margin: 0 auto;
    overflow: hidden; 
}

.column {
    width: 16%;
    float: left;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #ddd;
    padding: 8px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.cell {
    width: 16%;
    float: left;
    background-color: #b4b4ff;
    color: #000000;
    border: 1px solid #ddd;
    padding: 8px;
}

.column:first-child,
.cell:first-child {
    background-color: #007bff;
    color: #fff;
}